@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(235, 240, 240);
    overflow-x: hidden;
}

a {
    color: rgb(0, 0, 0);
    font-size: 12.3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    text-decoration: none;
}

li {
    margin-bottom: 1%;
    align-items: center;
}

body {
    background-color: rgb(247, 251, 255);
}

.backmenu {
    width: 13%;
    height: 36%;
    border-radius: 20px;
    position: fixed;
    margin-top: 5%;
    opacity: 100%;
    margin-left: -18%;
    transition: 1s ease-in-out;
    transition-delay: 0.2s;
    z-index: -1;
}

.backmenu-after {
    backdrop-filter: blur(1px);
    width: 13%;
    height: 36%;
    border-radius: 20px;
    position: fixed;
    margin-top: 5%;
    opacity: 100%;
    margin-left: 2.3%;
    transition: 1s ease-out;
    transition-delay: 0.1s;
    z-index: -1;
}

.menuitens {
    margin-left: -10%;
    list-style: none;
    transition: 1.2s;
    transition-delay: 0.15s;
    position: fixed;
    margin-top: 7%;
    font-size: 17px;
}

.menuitens span {
    font-size: 18px;
    position: absolute;
    margin-left: -25px;
}

.menuitens li {
    margin-bottom: 15px;
}

.menuitens-after {
    margin-left: 6.9%;
    list-style: none;
    transition: 1.2s;
    transition-delay: 0.3s;
    position: fixed;
    margin-top: 7%;
    font-size: 17px;
}

.menuitens-after li {
    margin-bottom: 15px;
}


.menuitens-after span {
    font-size: 18px;
    position: absolute;
    margin-left: -25px;
}

.menuicon {
    width: 3%;
    margin: 2% 5%;
    position: fixed;
    transition: 1s;
    transition-delay: 0.2s;
}

.menuicon-after {
    width: 3%;
    margin: -5% 5%;
    position: fixed;
    transition: 1s;
}

.xis {
    width: 2.65%;
    margin: 2.45% -5%;
    position: absolute;
    transition: 1s;
    position: fixed;
}

.xis-after {
    border-radius: 50%;
    width: 2.65%;
    margin: 2.45% 5.3%;
    position: absolute;
    position: fixed;
    transition: 0.8s ease-out;
    transition-delay: 0.7s;
    z-index: 10;
}


.menu2 {
    background-color: rgba(255, 123, 0, 0.559);
    padding: 2px 0px 3px 35px;
    margin-left: -49%;
    border-radius: 20px;
}


.ctt {
    position: fixed;
    margin-top: 1.8%;
    margin-left: 90.26%;
    padding: 5px;
    border-radius: 5px;

}

.insta {
    width: 1.6%;
    margin-left: 83.76%;
    margin-top: 1.9%;
    position: fixed;
    padding: 2px 5.3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.twitter {
    width: 1.6%;
    position: fixed;
    margin-top: 1.9%;
    margin-left: 86.26%;
    padding: 2px 5.3px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.rodape {
    background-color: rgba(255, 164, 94, 0.835);
    height: 15vh;
    width: 100%;
    bottom: -180%;
    z-index: -100;
    align-content: center;
    position: absolute;
}

.setinha {
    position: absolute;
    width: 2%;
    margin-left: 96%;
    margin-top: -1.5%;
}


h5 {
    color: rgba(0, 0, 0, 0.613);
    text-align: center;
    margin-top: 3vh;
}

.academico {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.613);
    margin-top: 1%;
}

.politicas {
    text-align: center;
    margin-top: 1%;
}

.politicas a {
    color: rgba(0, 0, 0, 0.281);
    font-size: 11px;
}


h1 {
    font-size: 60px;
    position: absolute;
    font-family: 'poetsen one', sans-serif;
    font-weight: 100;
    margin-top: 4%;
    margin-left: 35%;
}

.texto_sobre_yoga {
    position: absolute;
    margin-left: 51%;
    width: 25%;
    margin-top: 13%;
    padding: 20px;
    background-color: rgba(255, 157, 0, 0.685);
    border-radius: 16px;
}

.o_que_e_yoga_texto {
    text-align: justify;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -0.17px;

}

.mulher_pensando {
    position: absolute;
    width: 40%;
    margin-top: 5%;
    margin-left: 7%;
    z-index: -100;
}

h2 {
    font-size: 60px;
    position: absolute;
    font-family: 'poetsen one', sans-serif;
    font-weight: 100;
    margin-top: 47%;
    margin-left: 35%;
}

.tipoyoga1,
.tipoyoga3 {
    box-shadow: 0px 0px 8px rgba(42, 42, 42, 0.09);
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin-bottom: 65px;
    object-fit: cover;
    object-position: 50%;
    margin-left: 2%;
}

.tipoyoga2 {
    box-shadow: 0px 0px 8px rgba(42, 42, 42, 0.09);
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin-bottom: 65px;
    object-fit: cover;
    object-position: 50%;
    margin-left: 285%;
}



.tiposyoga {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
    margin-left: 19%;
    margin-top: 59%;
    position: absolute;
}

.tipo1_txt {
    width: 240%;
    position: absolute;
    margin-left: -10%;
    margin-top: -9%;
    border: 2.3px solid rgba(255, 145, 0, 0.772);
    padding: 90px;
    padding-left: 290px;
    border-radius: 250px;
    z-index: -1;
}

.tipo2_txt {
    width: 240%;
    position: absolute;
    margin-left: -10%;
    margin-top: 120%;
    border: 2.3px solid rgba(255, 115, 0, 0.772);
    padding: 70px;
    padding-right: 290px;
    border-radius: 250px;
    z-index: -1;
}

.tipo3_txt {
    width: 240%;
    position: absolute;
    margin-left: -10%;
    margin-top: 249%;
    border: 2.3px solid rgba(255, 85, 0, 0.772);
    padding: 70px;
    padding-left: 290px;
    border-radius: 250px;
    z-index: -1;
}


.ressalto_fim_pagina {
    width: 49%;
    position: absolute;
    margin-top: 119%;
    margin-left: 28%;
}